/* ==========================
   TOP NAVBAR
========================== */

.main-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;

  background: rgba(0,0,0,0.85);
  backdrop-filter: blur(12px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 8%;

  z-index: 999;
}
.nav-logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.nav-logo span {
  color: #e6c07b;
}

.nav-logo:hover {
  opacity: 0.8;
}


/* LOGO */

.nav-logo {
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 2px;
  color: white;
}

.nav-logo span {
  color: #e11d48;
}

/* HAMBURGER */

.hamburger {
  font-size: 28px;
  cursor: pointer;
  color: white;
  transition: 0.3s ease;
}

.hamburger:hover {
  transform: scale(1.1);
}

/* ==========================
   FULLSCREEN MENU
========================== */

.fullscreen-menu {
  position: fixed;
  inset: 0;

  background: black;

  display: flex;
  flex-direction: column;

  padding: 80px 10%;

  opacity: 0;
  pointer-events: none;

  transform: translateY(-100%);
  transition: 0.6s ease;

  z-index: 1000;
}

/* SHOW MENU */

.fullscreen-menu.show {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

/* CLOSE BUTTON */

.close-btn {
  position: absolute;
  top: 25px;
  right: 40px;

  font-size: 1.2rem;
  letter-spacing: 2px;

  cursor: pointer;
  color: white;

  opacity: 0.8;
}

.close-btn:hover {
  opacity: 1;
}

/* LINKS */

.menu-links {
  margin-top: 120px;

  display: flex;
  flex-direction: column;
  gap: 22px;
}

.menu-links a {
  font-size: 2.8rem;
  font-weight: 700;

  text-decoration: none;
  color: white;

  letter-spacing: 2px;

  transition: 0.3s ease;
}

/* ACTIVE / HOVER EFFECT */

.menu-links a:hover {
  color: #e11d48;
  transform: translateX(10px);
}

/* ==========================
   MOBILE
========================== */

@media (max-width: 768px) {

  .menu-links a {
    font-size: 2rem;
  }

  .close-btn {
    right: 20px;
  }

}
