/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}


/* GLOBAL DARK CINEMATIC BACKGROUND */

body {
  background: radial-gradient(
      circle at top,
      #1a1a1a 0%,
      #0a0a0a 40%,
      #000000 100%
  );

  color: white;
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
}

/* SHINY EFFECT OVERLAY */

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(
    120deg,
    rgba(255,255,255,0.03),
    rgba(255,255,255,0.01),
    rgba(0,0,0,0)
  );

  pointer-events: none;
  z-index: 9999;
}

/* SMOOTH SCROLL */

html {
  scroll-behavior: smooth;
}
